
.loginBox
{
  margin: 0;
  align-items: center;
  justify-content: space-between;
  flex:1;
  .card
  {
    margin: 0;
    background-color: transparent;
    color: $gray;
    &:nth-child(1)
    {
      max-width:550px;
    }

    &:nth-child(2)
    {
      max-width: 380px;
    }
    .lead
    {
      font-size: 2rem;
      font-weight: bold;
      color: $gray-dark;
      line-height: 1.2;
    }

    .form-group
    {
      margin-bottom:1.5*$spacer;
    }
  }

  .form-caption
  {
    color: $gray-light;
    margin-bottom:2*$spacer;
    font-size: 1.5*$font-size-base;
  }

  label
  {
    color: $gray-light;
    margin-bottom:$spacer/3;
  }

  .checkbox
  {
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-between;
    width:100%;
    label
    {
      display: flex;
      align-items:center;
      font-size:1.1*$font-size-base;
    }
    input[type="checkbox"]
    {
      width:15px;
      height:15px;
      margin-right:5px;
    }
  }

 .btnLinkWrapper
 {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: $spacer;
   margin-bottom:$spacer;
 }

  .btn-link
  {
    font-weight: 600;
    color:$gray-dark;
  }

 small
 {
  margin-top: 20px;
  font-size: 1rem;
  display: flex;
  width: 100px;
  font-weight: bold;
 }

  .toolTip--container
  {
    label
    {
      &:hover
      {
        + .tooltip
        {
          opacity: 1;
          visibility: visible;
          top: 20px;
        }
      }
    }

  }

  .tooltip
  {
    top:0px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    &.tooltip-bottom
    {
      min-width: 500px;
      right: 0;
      margin-top: 0;

      visibility: hidden;
    }

    .tooltip-inner
    {
      max-width: 100%;
      &:before
      {
        left:90%;
      }
    }
  }
}
